.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.log
dist
tests/**/coverage/
tests/e2e/reports
selenium-debug.log

#  directories and files
.idea
.vscode
*.suo
.map
*.ntvs*
*.njsproj
*.sln
*.local

package-lock.json
yarn.lock

.env.development
/unpackage
/.hbuilderx
/nativeplugins
node_modules
